#### Streamlit Data Preprocessing

In [19]:
import pandas as pd
import numpy as np

In [32]:
rules = pd.read_csv('results/rules_50_percent.csv')

In [33]:
rules.head()

,antecedent,consequent_1,consequent_2,confidence_level
0,'soda',zero calorie cola,NaN,0.239590
1,'icelandic style skyr blueberry non-fat yogurt',non fat acai & mixed berries yogurt,NaN,0.229709
2,'organic zucchini',organic yellow squash,NaN,0.227327
3,'bag of organic bananas',organic hass avocado,organic lemon,0.193216
4,'bag of organic bananas',organic hass avocado,organic strawberries,0.191795

In [34]:
# rename column names for the streamlit app markdown text
rules.rename(columns = {'consequent_1': 'Frequently Purchased Item', 'consequent_2': 'Frequently Purchased Item','confidence_level':'Confidence Level'}, inplace = True)

In [35]:
rules.head()

,antecedent,Frequently Purchased Item,Frequently Purchased Item,Confidence Level
0,'soda',zero calorie cola,NaN,0.239590
1,'icelandic style skyr blueberry non-fat yogurt',non fat acai & mixed berries yogurt,NaN,0.229709
2,'organic zucchini',organic yellow squash,NaN,0.227327
3,'bag of organic bananas',organic hass avocado,organic lemon,0.193216
4,'bag of organic bananas',organic hass avocado,organic strawberries,0.191795

In [38]:
rules.to_csv('data/rules_50_percent_app.csv', index = False)

In [39]:
# explore what antecedents are most common 
rules['antecedent'].value_counts(normalize = True)

'banana'                                           0.679012
'bag of organic bananas'                           0.135802
'organic strawberries'                             0.049383
'organic hass avocado'                             0.024691
'organic zucchini'                                 0.024691
'organic avocado'                                  0.024691
'icelandic style skyr blueberry non-fat yogurt'    0.012346
'organic garlic'                                   0.012346
'organic baby spinach'                             0.012346
'large lemon'                                      0.012346
'soda'                                             0.012346
Name: antecedent, dtype: float64