### Streamlit Data Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [20]:
rules = pd.read_csv('data/rules.csv')

In [15]:
rules.head()

,antecedent,consequent_1,consequent_2,confidence_level
0,organic raspberries,organic hass avocado,'bag of organic bananas',0.493530
1,organic strawberries,organic hass avocado,'bag of organic bananas',0.434307
2,organic strawberries,organic raspberries,'bag of organic bananas',0.370370
3,organic raspberries,bag of organic bananas,'organic strawberries',0.343733
4,organic strawberries,organic baby spinach,'bag of organic bananas',0.339503

In [21]:
# rename column names for the streamlit app markdown text
rules.rename(columns = {'consequent_1': 'Frequently Purchased Item 1', 'consequent_2': 'Frequently Purchased Item 2', 'confidence_level':'Confidence Level'}, inplace = True)

In [22]:
rules.head()

,antecedent,Frequently Purchased Item 1,Frequently Purchased Item 2,Confidence Level
0,organic raspberries,organic hass avocado,'bag of organic bananas',0.493530
1,organic strawberries,organic hass avocado,'bag of organic bananas',0.434307
2,organic strawberries,organic raspberries,'bag of organic bananas',0.370370
3,organic raspberries,bag of organic bananas,'organic strawberries',0.343733
4,organic strawberries,organic baby spinach,'bag of organic bananas',0.339503

In [26]:
rules.to_csv('data/rules_app.csv', index = False)