#### Splitting Orders Dataset: Morning, Daytime, and Evening Orders

In [1]:
# imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

**Reading the Data**

In [6]:
all_orders = pd.read_csv('data/all_orders.csv')

**Morning Orders**

In [7]:
# create a filter for morning orders
filter_hour_morning = all_orders['order_hour_of_day'] < 11
# apply filter to orders
morning_orders = all_orders[filter_hour_morning]

# save resulting dataframe into a csv file
morning_orders.to_csv('data/morning_orders.csv', index = False)

In [11]:
morning_orders.head(2)

,product_id,product_name,aisle_id,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,quantity,aisle,department
1,27398,genuine chocolate flavor syrup,103,19,2706050,1,1,188144,train,36,2,10,4.0,1.0,ice cream toppings,snacks
4,13506,magic shell chocolate fudge,103,19,2242040,9,0,37146,prior,9,3,8,10.0,1.0,ice cream toppings,snacks

In [13]:
morning_orders.shape

(21597, 16)

**Daytime Orders**

In [9]:
# create filter for daytime orders placed starting 11am
filter_hour_day = all_orders['order_hour_of_day'] > 11
# apply filter to the orders dataframe
intermediate_orders = all_orders[filter_hour_day]

# create a second filter with 6pm as cut off
filter_day_2 = intermediate_orders['order_hour_of_day'] < 18
# apply the second filter - resulting orders will only contain orders placed between 11am and 6pm
day_orders = intermediate_orders[filter_day_2]

# save the resulting dataframe into a csv file
day_orders.to_csv('data/day_orders.csv', index = False)

In [14]:
day_orders.head(2)

,product_id,product_name,aisle_id,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,quantity,aisle,department
0,16,mint chocolate flavored syrup,103,19,75159,3,0,28618,train,6,3,17,11.0,1.0,ice cream toppings,snacks
2,39469,organic chocolate flavored syrup,103,19,1016982,5,0,91509,train,8,5,12,30.0,1.0,ice cream toppings,snacks

In [15]:
day_orders.shape

(36853, 16)

**Evening Orders**

In [10]:
# create filter for evening orders starting 6pm
filter_hour_evening = all_orders['order_hour_of_day'] > 18
# apply the filter to orders dataframe
evening_orders = all_orders[filter_hour_evening]

# save the resulting dataframe into a csv file
evening_orders.to_csv('data/evening_orders.csv', index = False)

In [17]:
evening_orders.head(2)

,product_id,product_name,aisle_id,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,quantity,aisle,department
16,27398,genuine chocolate flavor syrup,103,19,2632398,8,0,195970,prior,10,3,20,28.0,1.0,ice cream toppings,snacks
22,39469,organic chocolate flavored syrup,103,19,3091654,9,0,192709,prior,3,2,19,13.0,1.0,ice cream toppings,snacks

In [18]:
evening_orders.shape

(9973, 16)